body {
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.5), rgba(136, 136, 206, 0.7) ),url(https://c.pxhere.com/photos/d2/ec/bedroom_bed_wall_decoration_design_room-945408.jpg!d);
    padding: 200px;
    background-size: auto 100%;
    opacity: 80%;
    font-family: sans-serif;
  }
  
  div {
    background-color: #0a0a23;
    border: 4px solid white;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding: 75px;
    max-width: 750px;
    min-width: 750px;
    width: 100%;
    border-radius: 75px;
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
  }
  
  p {
    text-align: center;
    font-style: italic;
  }
  
  fieldset{
    border-color: #0a0a23;
    border-top: 4px solid #3b3b4f;
    border-bottom: 4px solid #3b3b4f;
    border-right: none;
    border-left: none;
    padding: 20px 125px 20px 125px;
  }
  
  input {
    min-height: 1em;
    margin: 5px;
    width: 80%;
    background-color: #3b3b4f;
    color: white;
  }
  
  input[type="submit"] {
    display: block;
    margin: 1em auto;
    height: 2.5em;
    font-size: 1.5rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 150px;
    max-width: 200px;
    color: white;
  }
  
  hr {
    max-width: 500px;
    border-color: #3b3b4f;
  }
  
  select {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
   
  label{
    display: block;
    margin: 0.5rem 0;
    
  }
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
  }
  
  fieldset[id="account-type"] {
    border-top: none;
  }
  
  h3 {
    display: inline-block;
  }
  
  label[for="dropdown"] {
    text-align: center;
  }
  
  /*aligner le text*/
  label[for="name"], input {
    text-align: center;
  }
  
  textarea {
    background-color: #3b3b4f;
    border: 1px solid #0a0a23;
    color: #ffffff;
    margin-left: 125px;
  }
